body{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    place-items: center;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    background-color: #057b3c;
    font-family: "Cinzel", serif;
}

h1{  
    margin: 1% 0% 5% 0%;
    background-color: beige;
    border: solid 5px red;
    color: red;
    padding: 4%;
    font-size: 700%;
    letter-spacing: 10px;
    text-align: center;
}

a{
    text-decoration: none;
    background-color: beige;
    color: red;
    padding: 3%;
    border-radius: 50%;
    font-size: 500%;
    font-weight: bold;
    letter-spacing: 6px;
}

#devs{
    all: unset;
    font-weight: 800;
    margin: 1.3% 0% 0% 0%;
    border: solid 3px red;
    color: red;
    background-color: beige;
    padding: 0.5%;
    transition: 0.5s ease;
}

#devs:hover{
    cursor: pointer;
    background-color: lightgoldenrodyellow;
    text-decoration: underline;
}

#reg{
    position: absolute;
    border: solid 3px red;
    top: 35%;
    right: 70%;
    transform: rotate(30deg);
    transition: 0.5s ease;
}

#reg:hover{
    border-radius: 0%;
    background-color: lightgoldenrodyellow;
    text-decoration: underline;
}

#jog{
    border: solid 3px red;
    margin: 0% 6% 0% 6%;
    padding: 5%;
    transition: 0.5s ease;
    margin: 0% 0% 7.5% 0%;
}

#jog:hover{
    border-radius: 0%;
    background-color: lightgoldenrodyellow;
    text-decoration: underline;
}

#op{
    position: absolute;
    border: solid 3px red;
    top: 35%;
    left: 70%;
    transform: rotate(-30deg);
    transition: 0.5s ease;
}

#op:hover{
    border-radius: 0%;
    background-color: lightgoldenrodyellow;
    text-decoration: underline;
}