#content{
    margin: 0;
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #057b3c;
    font-family: "Cinzel", serif;
}

h1{  
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: beige;
    color: red;
    padding: 40px;
    font-size: 150px;
    letter-spacing: 10px;
    text-align: center;
}

a{
    text-decoration: none;
    background-color: beige;
    color: red;
    padding: 20px;
    border-radius: 50%;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 8px;
}

h3{
    color: red;
    background-color: beige;
    padding: 5px;
    margin: 190px auto auto auto;
}

#jog{
    margin: 0px 150px 0px 150px;
}

#botoes{
    margin-top: 40px;
}