body{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    place-items: center;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    background-color: #057b3c;
    font-family: "Cinzel", serif;
}

h1{  
    margin: 1% 0% 5% 0%;
    background-color: beige;
    border: solid 5px red;
    color: red;
    padding: 4%;
    font-size: 700%;
    letter-spacing: 10px;
    text-align: center;
}

a{
    text-decoration: none;
    background-color: beige;
    color: red;
    padding: 3%;
    border-radius: 50%;
    font-size: 500%;
    font-weight: bold;
    letter-spacing: 6px;
}

#devs{
    all: unset;
    position: fixed;
    bottom: 0.5%;
    font-weight: 800;
    margin: 1.3% 0% 0% 0%;
    border: solid 3px red;
    color: red;
    background-color: beige;
    padding: 0.5%;
    transition: 0.5s ease;
}

#devs:hover{
    cursor: pointer;
    background-color: lightgoldenrodyellow;
    text-decoration: underline;
}

#reg{
    position: absolute;
    font-size: 60px;
    border: solid 3px red;
    top: 46%;
    left: 24.7%;
    padding: 4.8%;
    transition: 0.5s ease;
}

#reg:hover{
    border-radius: 12%;
    background-color: lightgoldenrodyellow;
    text-decoration: underline;
}

#jog{
    position: absolute;
    top: 46%;
    left: 45.6%;
    font-size: 60px;
    border: solid 3px red;
    margin: 0% 6% 0% 6%;
    padding: 5%;
    transition: 0.5s ease;
}

#jog:hover{
    border-radius: 12%;
    background-color: lightgoldenrodyellow;
    text-decoration: underline;
}

#pagDevs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.imaDev{
    width: 30%;
    height: 30%;
    border: solid 3px white;
}

h2{
    color: white;
    font-size: 40px;
}

.volta{
    position: absolute;
    border-radius: 0%;
    top: 1%;
    left: 0.5%;
    font-size: 200%;
    padding: 0.5%;
    letter-spacing: normal;
    border: solid 3px red;
}

#regras h2{
    margin: 2% 10% 2% 10%;
    text-align: center;
}

#bomJ{
    font-size: 80px;
    font-weight: bold;
}