body{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    place-items: center;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    background-color: #057b3c;
    font-family: "Cinzel", serif;
}

h1{  
    margin-top: -1%;
    margin-bottom: 5%;
    background-color: beige;
    color: red;
    padding: 4%;
    font-size: 150px;
    letter-spacing: 10px;
    text-align: center;
}

a{
    text-decoration: none;
    background-color: beige;
    color: red;
    padding: 3%;
    border-radius: 50%;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 8px;
}

h3{
    color: red;
    background-color: beige;
    padding: 5px;
    margin: 190px auto auto auto;
}

#jog{
    margin: 0px 5px 0px 5px;
}

#botoes{
}